[alias]
	s = status
	c = checkout
	fo = fetch origin --progress --prune
	tree = log --oneline --all --graph
	ls = log --oneline
	sw = switch
	ru = rebase @{u}
	cp = cherry-pick

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	pager = less -FX
